# Dependencies
node_modules/
# Vite cache
.vite/
# Build output
dist/
build/

# Environment files
.env
.env.local
.env.*.local

# Editor directories
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Admin folder
admin/
frontend/node_modules/.vite/deps/_metadata.json
frontend/node_modules/.vite/deps/@hookform_resolvers_zod.js
frontend/node_modules/.vite/deps/@hookform_resolvers_zod.js.map
frontend/node_modules/.vite/deps/axios.js
frontend/node_modules/.vite/deps/axios.js.map
frontend/node_modules/.vite/deps/chunk-DRWLMN53.js
frontend/node_modules/.vite/deps/chunk-DRWLMN53.js.map
frontend/node_modules/.vite/deps/chunk-G3PMV62Z.js.map
frontend/node_modules/.vite/deps/chunk-G3PMV62Z.js
frontend/node_modules/.vite/deps/chunk-KVYDMEHD.js
frontend/node_modules/.vite/deps/chunk-KVYDMEHD.js.map
frontend/node_modules/.vite/deps/chunk-PJEEZAML.js
frontend/node_modules/.vite/deps/chunk-PJEEZAML.js.map
frontend/node_modules/.vite/deps/clsx.js
frontend/node_modules/.vite/deps/clsx.js.map
frontend/node_modules/.vite/deps/lucide-react.js
frontend/node_modules/.vite/deps/lucide-react.js.map
frontend/node_modules/.vite/deps/package.json
frontend/node_modules/.vite/deps/react_jsx-dev-runtime.js
frontend/node_modules/.vite/deps/react_jsx-dev-runtime.js.map
frontend/node_modules/.vite/deps/react_jsx-runtime.js
frontend/node_modules/.vite/deps/react_jsx-runtime.js.map
frontend/node_modules/.vite/deps/react-dom_client.js
frontend/node_modules/.vite/deps/react-dom_client.js.map
frontend/node_modules/.vite/deps/react-dom.js
frontend/node_modules/.vite/deps/react-dom.js.map
frontend/node_modules/.vite/deps/react-hook-form.js
frontend/node_modules/.vite/deps/react-hook-form.js.map
frontend/node_modules/.vite/deps/react-router-dom.js
frontend/node_modules/.vite/deps/react-router-dom.js.map
frontend/node_modules/.vite/deps/react.js
frontend/node_modules/.vite/deps/react.js.map
frontend/node_modules/.vite/deps/tailwind-merge.js
frontend/node_modules/.vite/deps/tailwind-merge.js.map
frontend/node_modules/.vite/deps/zod.js
frontend/node_modules/.vite/deps/zod.js.map
frontend/node_modules/.vite/deps/zustand_middleware.js
frontend/node_modules/.vite/deps/zustand_middleware.js.map
frontend/node_modules/.vite/deps/zustand.js.map
frontend/node_modules/.vite/deps/zustand.js
